/slm/conf/data/
/slm/abaca_test.sh
/slm/job_bart_test_airport_abaca_init.sh
/slm/job_bart_test_airport_abaca_kg.sh
/slm/job_bart_test_artist_abaca_init.sh
/slm/job_bart_test_artist_abaca_kg.sh
/slm/job_bart_test_athlete_abaca_init.sh
/slm/job_bart_test_athlete_abaca_kg.sh
/slm/job_bart_test_building_abaca_init.sh
/slm/job_bart_test_building_abaca_kg.sh
/slm/job_bart_test_celestialbody_abaca_init.sh
/slm/job_bart_test_celestialbody_abaca_kg.sh
/slm/job_bart_test_celestrialbody_abaca.sh
/slm/job_bart_test_city_abaca_init.sh
/slm/job_bart_test_city_abaca_kg.sh
/slm/job_bart_test_company_abaca_init.sh
/slm/job_bart_test_company_abaca_kg.sh
/slm/job_bart_test_dt_abs_clean_new_On_old.sh
/slm/job_bart_test_dt_abs_clean_old_On_new.sh
/slm/job_bart_test_dt_abs_md_new_On_old.sh
/slm/job_bart_test_dt_abs_md_old_On_new.sh
/slm/job_bart_test_dt_all_abs_clean_new_On_old.sh
/slm/job_bart_test_dt_all_abs_clean_old_On_mix.sh
/slm/job_bart_test_dt_all_abs_clean_old_On_new.sh
/slm/job_bart_test_dt_all_abs_clean_oldf_On_mix.sh
/slm/job_bart_test_dt_all_abs_clean_oldf_On_mixAlign.sh
/slm/job_bart_test_dt_all_abs_md_new_On_old.sh
/slm/job_bart_test_dt_all_abs_md_old_On_mix.sh
/slm/job_bart_test_dt_all_abs_md_old_On_new.sh
/slm/job_bart_test_dt_all_abs_md_oldf_On_mix.sh
/slm/job_bart_test_film_abaca_init.sh
/slm/job_bart_test_film_abaca_kg.sh
/slm/job_bart_test_food_abaca_init.sh
/slm/job_bart_test_food_abaca_kg.sh
/slm/job_bart_test_init.sh
/slm/job_bart_test_meanoftransportation_abaca_init.sh
/slm/job_bart_test_meanoftransportation_abaca_kg.sh
/slm/job_bart_test_musicalwork_abaca_init.sh
/slm/job_bart_test_musicalwork_abaca_kg.sh
/slm/job_bart_test_obj_abs_clean_new_On_old.sh
/slm/job_bart_test_obj_abs_clean_old_On_new.sh
/slm/job_bart_test_obj_abs_md_new_On_old.sh
/slm/job_bart_test_obj_abs_md_old_On_new.sh
/slm/job_bart_test_politician_abaca_init.sh
/slm/job_bart_test_politician_abaca_kg.sh
/slm/job_bart_test_scientist_abaca_init.sh
/slm/job_bart_test_scientist_abaca_kg.sh
/slm/job_bart_test_sportsteam_abaca_init.sh
/slm/job_bart_test_sportsteam_abaca_kg.sh
/slm/job_bart_test_university_abaca.sh
/slm/job_bart_test_university_abaca_init.sh
/slm/job_bart_test_university_abaca_kg.sh
/slm/job_bart_test_university_abaca_sample.sh
/slm/job_bart_test_writtenwork_abaca_init.sh
/slm/job_bart_test_writtenwork_abaca_kg.sh
/slm/job_bart_train_airport.sh
/slm/job_bart_train_airport_abaca.sh
/slm/job_bart_train_artist_abaca.sh
/slm/job_bart_train_athlete_abaca.sh
/slm/job_bart_train_building_abaca.sh
/slm/job_bart_train_celestrialbody_abaca.sh
/slm/job_bart_train_city_abaca.sh
/slm/job_bart_train_company_abaca.sh
/slm/job_bart_train_dt_abs_clean_new.sh
/slm/job_bart_train_dt_abs_clean_old.sh
/slm/job_bart_train_dt_abs_md_new.sh
/slm/job_bart_train_dt_abs_md_old.sh
/slm/job_bart_train_film_abaca.sh
/slm/job_bart_train_Film_clean.sh
/slm/job_bart_train_Film_md.sh
/slm/job_bart_train_food_abaca.sh
/slm/job_bart_train_init.sh
/slm/job_bart_train_MeanOfTransportation_abaca.sh
/slm/job_bart_train_musicalwork_abaca.sh
/slm/job_bart_train_obj_abs_clean_new.sh
/slm/job_bart_train_obj_abs_clean_old.sh
/slm/job_bart_train_obj_abs_md_new.sh
/slm/job_bart_train_obj_abs_md_old.sh
/slm/job_bart_train_obj_and_data_abs_clean.sh
/slm/job_bart_train_obj_and_data_abs_clean_new.sh
/slm/job_bart_train_obj_and_data_abs_clean_old.sh
/slm/job_bart_train_obj_and_data_abs_clean_oldx2.sh
/slm/job_bart_train_obj_and_data_abs_clean_oldx4.sh
/slm/job_bart_train_obj_and_data_abs_md.sh
/slm/job_bart_train_obj_and_data_abs_md_new.sh
/slm/job_bart_train_obj_and_data_abs_md_old.sh
/slm/job_bart_train_politician_abaca.sh
/slm/job_bart_train_scientist_abaca.sh
/slm/job_bart_train_sportsteam_abaca.sh
/slm/job_bart_train_university_abaca.sh
/slm/job_bart_train_writtenwork_abaca.sh
/slm/job_bart_train_WrittenWork_clean.sh
/slm/job_bart_train_WrittenWork_md.sh
/slm/job_ct5_train_obj_abs_clean.sh
/slm/job_ct5_train_obj_abs_md_old.sh
/user/cringwal/home/PycharmProjects/Kastor/shapes/ArtistShape.ttl
/user/cringwal/home/PycharmProjects/Kastor/shapes/ArtistShapeFromOnto.ttl
/user/cringwal/home/PycharmProjects/Kastor/shapes/ArtistShapeInWild.ttl
/user/cringwal/home/PycharmProjects/Kastor/shapes/AstronautShape.ttl
/user/cringwal/home/PycharmProjects/Kastor/shapes/FilmShapeFromOnto.ttl
/user/cringwal/home/PycharmProjects/Kastor/shapes/PoliticianShape.ttl
/user/cringwal/home/PycharmProjects/Kastor/shapes/PoliticianShapeFromOnto.ttl
/user/cringwal/home/PycharmProjects/Kastor/shapes/PoliticianShapeInWild.ttl
/user/cringwal/home/PycharmProjects/Kastor/shapes/ScientistShapeFromOnto.ttl
/user/cringwal/home/PycharmProjects/Kastor/shapes/WrittenWorkShapeInWild.ttl
/shapes/txt2kg/
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_test_dt_prop_abs_clean_new_ON_old.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_test_dt_prop_abs_clean_old_ON_new.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_test_dt_prop_abs_md_new_ON_old.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_test_dt_prop_abs_md_old_ON_new.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_test_obj_and_dt_prop_abs_clean_old_ON_new.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_test_obj_and_dt_prop_abs_clean_old_ON_new_abc.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_test_obj_and_dt_prop_abs_clean_old_ON_old.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_test_obj_and_dt_prop_abs_md_new_ON_old.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_test_obj_and_dt_prop_abs_md_old_ON_mix.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_test_obj_and_dt_prop_abs_md_old_ON_new.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_test_obj_and_dt_prop_abs_md_oldfiltered3_ON_mix.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_test_obj_and_dt_prop_abs_md_oldfiltered_ON_mix.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_test_obj_and_dt_prop_abs_plain_old_ON_mix.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_test_obj_and_dt_prop_abs_plain_old_ON_mixX2.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_test_obj_and_dt_prop_abs_plain_oldfiltered3_ON_mix.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_test_obj_and_dt_prop_abs_plain_oldfiltered_ON_mix.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_test_obj_prop_abs_clean_new_ON_old.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_test_obj_prop_abs_clean_old_ON_new.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_test_obj_prop_abs_md_new_ON_old.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_test_obj_prop_abs_md_old_ON_new.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_train_dt_prop_abs_clean_new.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_train_dt_prop_abs_clean_old.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_train_dt_prop_abs_md_new.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_train_dt_prop_abs_md_old.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_train_Film.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_train_film_abs_clean.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_train_film_abs_md.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_train_Food.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_train_init.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_train_MeanOfTransportation.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_train_MusicalWork.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_train_obj_and_dt_prop_abs_clean_old.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_train_obj_and_dt_prop_abs_clean_old_abc.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_train_obj_and_dt_prop_abs_clean_old_focalLoss.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_train_obj_and_dt_prop_abs_clean_old_focalLoss_abc.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_train_obj_and_dt_prop_abs_clean_oldx2.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_train_obj_and_dt_prop_abs_clean_oldx4.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_train_obj_and_dt_prop_abs_clean_oldx10.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_train_obj_and_dt_prop_abs_clean_oldx10_abc.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_train_obj_and_dt_prop_abs_clean_oldx10start.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_train_obj_and_dt_prop_abs_md_new.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_train_obj_and_dt_prop_abs_md_old.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_train_obj_prop_abs_clean_new.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_train_obj_prop_abs_clean_old.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_train_obj_prop_abs_md_new.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_train_obj_prop_abs_md_old.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_train_Politician.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_train_Scientist.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_train_SportsTeam.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_train_University.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_train_WrittenWork.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_train_writtenwork_abs_clean.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_bart_train_writtenwork_abs_md.yaml
/user/cringwal/home/PycharmProjects/Kastor/slm/conf/data/DS_turtleS_0datatype_1inLine_1facto_cT5_train_obj_prop_abs_clean.yaml
